{% extends "./base.html" %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Atualizar Dados</h1>
            <p class="lead fw-normal text-white-50 mb-0">Atualize as suas credenciais</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">

                <br/><br/>


                <form method="POST" action="{% url 'atualizar_credenciais' %}">
                    {% csrf_token %}
                    <label for="username">Novo Username:</label>
                    <input type="text" id="username" name="username"><br><br>

                    <label for="password1">Nova Password:</label>
                    <input type="password" id="password1" name="password1"><br><br>

                    <label for="password2">Confirmar Nova Password:</label>
                    <input type="password" id="password2" name="password2"><br><br>

                    <input type="submit" value="Atualizar">
                </form>


            </div>
        </center>

    </div>
</div>

<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>

{% endblock %}