{% extends "./base.html" %}


{% block content %}

<header class="custom-header">
    <div class="container">
        <div class="text-center">
            <h1>Tecnocommerce</h1>
            <p>Aqui encontrará o que procura!</p>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for produto in produtos %}

            {% if produto.em_saldo %}

            <div class="col mb-5">
                <div class="card h-100">

                    <div class="badge bg-dark text-white position-absolute"
                         style="top: 0.5rem; right: 0.5rem">Promoção
                    </div>


                    <img class="card-img-top" src="{{ produto.imagem.url }}" alt="..."/>
                    <div class="card-body p-4">
                        <div class="text-center">

                            <h5 class="fw-bolder">{{ produto.nome }}</h5>

                            <s> {{ produto.preco }}€ </s>
                            &nbsp;
                            {{ produto.preco_saldo }}€
                        </div>
                    </div>

                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                    href="{% url 'produto' produto.id %}">Ver Produto</a></div>
                    </div>
                </div>
            </div>

            {% else %}

            <div class="col mb-5">
                <div class="card h-100">

                    <img class="card-img-top" src="{{ produto.imagem.url }}" alt="..."/>

                    <div class="card-body p-4">
                        <div class="text-center">

                            <h5 class="fw-bolder">{{ produto.nome }}</h5>

                            {{ produto.preco }}€
                        </div>
                    </div>

                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                    href="{% url 'produto' produto.id %}">Ver Produto</a></div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

