{% extends "./base.html" %}

{% block content %}

<header class="custom-header">
    <div class="container">
        <div class="text-center">
            <h1>Quem somos</h1>
            <p>Tecnocommerce</p>
        </div>
    </div>
</header>

<br/><br/><br/>

<div class="container">
    <h2>
        A Tecnocommerce é uma empresa dedicada à comercialização de itens tecnológicos,
    sendo uma referência no mercado desde a sua fundação. Com uma presença online
    e física, estamos comprometidos em oferecer o melhor atendimento e os melhores
    produtos aos nossos clientes.
    </h2>
</div>

<br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/>



{% endblock %}