<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home' %}">TecnoCommerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Página
                    Principal</a></li>


                <li class="nav-item"><a class="nav-link" href="{% url 'inf_empresa' %}">Sobre Nós</a></li>

                {% if user.is_authenticated %}

                <li class="nav-item"><a class="nav-link" href="{% url 'atualizar_credenciais' %}">Perfil</a></li>

                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>

                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>

                <li class="nav-item"><a class="nav-link" href="{% url 'registo' %}">Criar Conta</a></li>

                {% endif %}


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'home' %}">Todos os Produtos</a></li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'categoria' 'Laptops' %}">Laptops</a></li>
                        <li><a class="dropdown-item" href="{% url 'categoria' 'Computadores' %}">Computadores</a></li>
                        <li><a class="dropdown-item" href="{% url 'categoria' 'Televisores' %}">Televisores</a></li>
                        <li><a class="dropdown-item" href="{% url 'categoria' 'SmartPhones' %}">SmartPhones</a></li>
                        <li><a class="dropdown-item" href="{% url 'categoria' 'Componentes' %}">Componentes</a></li>
                        <li><a class="dropdown-item"
                               href="{% url 'categoria' 'Eletrodomésticos' %}">Eletrodomésticos</a></li>
                    </ul>
                </li>
            </ul>


            <form class="d-flex">

                <a href="{% url 'resumo_carrinho' %}" class="btn btn-outline-dark">
                    <i class="bi-cart-fill me-1"></i>
                    Carrinho
                </a>


            </form>
        </div>
    </div>
</nav>