{% extends "./base.html" %}
{% block content %}

<header class="custom-header">
    <div class="container">
        <div class="text-center">
            <h1>Carrinho</h1>
            <p>Finalize as suas compras aqui</p>
        </div>
    </div>
</header>

<br/><br/><br/><br/>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Carrinho de Compras
                </div>
                <div class="card-body" id="cartItems">
                    {% if produtos %}
                    <table>
                        <thead>
                        <tr>
                            <th>Produto</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for produto, quantidade in produtos %}
                        <tr>
                            <td>{{ produto.nome }}</td>
                            {% if produto.em_saldo %}
                            <td>{{ produto.preco_saldo }}€ (em desconto)</td>
                            {% else %}
                            <td>{{ produto.preco }}€</td>
                            {% endif %}
                            <td>{{ quantidade }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>O carrinho está vazio.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<p>Total: {{ total }}€</p>

<div class="container">
    <button id="clearCartButton">Limpar Carrinho</button>
    <a href="{% url 'realizar_pagamento' %}" id="payButton">Pagar</a>
</div>

<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>
<br/><br/><br/>


{% endblock %}
